* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
  }
  
  .heading {
    color: red;
    margin: 30px 0;
  }
  
  .movie-poster img {
    width: 200px;
    height: 300px;
  }
  
  .movie-poster {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
  }
  