.square-row{
    display: flex;
    gap: 2px;
    margin-bottom: 2px;

}

.square{
    height: 50px;
    width: 50px;
    background-color: rgb(216, 226, 231);
}

.reset{
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 100px;
}