* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.home-screen-bg {
  background: url("/Images/Adventure\ tic-tac-toe.jpeg") no-repeat center center fixed;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;

}

.home-screen-container {
  height: 100vh;
  padding: 30px 30px 20px 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-logo {
  width: 500px;
}


.start-game-heading {
  font-size: 32px;
  color: white;
}

.player-info {
  margin: 30px 0;
}

.player-info label {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #052b3b;
}

.player-info input {
  text-align: center;
  width: 240px;
  padding: 3px 0;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background: rgba(143, 142, 142, 0.678);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
}

.player-info input:focus {
  outline: none;
  border: 1px solid #2a96ee;
  box-shadow: 0 0 1px rgba(42, 150, 238, 0.5);
}

.play-game-button {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #1c7399;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  transition: all .5s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.play-game-button :hover {
  background-color: #052b3b;
}

.copy-right {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #040c1e;
}

/* ************************************* */

/* PlayGame component styling */
.play-game{
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  background-color: #f0f0f0;
  height: 100vh;
}

/* Game Status styling */

.game-status-container{
  text-align: center;
  width: 300px;
  padding: 10px 0;
  background-color: #342464;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  margin-left: 50%;
}

.status-message {
  font-size: 28px;
  font-weight: 600;
  color: white;
}


.scorecard-and-board{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* ScoreCard styling */

/* .scorecard-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.scorecard-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #342464;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.player-card .player-name{
  text-align: center;
  font-size: 20px;
  color: white;
}

.player-card .player-sign{
  text-align: center;
  font-size: 28px;
  color: white;
}

.player-card .player-score{
  text-align: center;
  font-size: 20px;
  color: white;
}


/* Board styling */
.board-container{
  height: 400px;
  display: flex;
  align-items: center;
}

.board {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #236c8b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
}

.square {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight:500;
  width: 100px;
  height: 100px;
  background-color: #342464;
  border: 1px solid #666;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.square:hover {
  background-color: #3d2a91;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.squareX {
  color: #f44336;
}

.squareO {
  color: #dbdf0a;
}

/* Reset Button styling */
.reset-container {
  text-align: center;
}

.reset-button,
.home-button {
  width: 150px;
  margin: 10px;
  padding: 10px 15px;
  background-color: #342464;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.reset-button:hover,
.home-button:hover {
  background-color: #3d2a91;
}


/* *********************************** */



@media (max-width: 576px) {
  /* Home Screen */

  .home-screen-bg {
    background: url("/public/Images/Adventure\ tic-tac-toe.jpeg") no-repeat center center fixed;}


  .home-screen-container {
    justify-content: space-around;
  }

  .game-logo {
    width: 300px;
  }

  .start-game-heading {
    font-size: 28px;
  }

  .login-window-container{
    height: 450px;
  }

  .player-info {
    margin: 26px 0;
  }
  
  .player-info input {
    font-size: 26px;
  }
  

/* PlayGame component styling */
.play-game{
  padding-top: 30px;
}

  /* Game Status styling */
.game-status-container{
  width: 50vw;
  transform: translateX(0);
  margin-left: 25%;
  margin-bottom: 30px;
}

.status-message {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

/* Board styling */
.board-container{
  height: 360px;
}

/* Reset Button styling */
.reset-button,
.home-button {
  margin-top: 30px;
}







  .scorecard-and-board{
    flex-direction: column;
  }
}