.squares-row {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
}

.squares {
    height: 50px;
    width: 50px;
    background-color: rgb(216, 226, 231);
}

.reset {
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 100px;
}


/* ************************************************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background: url(../Images/Tic\ tac\ toe\ background.png);
    background-color: #f0f0f0;
    background-size: cover;
    position: relative;
    width: 300px;
    height: 320px;
    border: 1px solid rgb(15, 14, 14);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container input {
    width: 100%;
    height: 30px;
}

.player-info label {
    display: inline-block;
    margin-bottom: 3px;
}

.start-game {
    width: 100%;
    height: 30px;
    cursor: pointer;
}