* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: #f4f4f4; 
    color: #2c3e50;

}

.container {
    background-color: white;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin: 20px 0;
}

.selectElement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    margin: 10px 0;
}

.current-Date{
    text-align: right;
}

select {
    width: 48%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #2c3e50;
}

select:focus{
    outline: none;
}


.app-description {
    width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-description > *{
    margin-bottom: 20px;
}

.app-description span{
    font-weight: 700;
}

.app-description ul {
    list-style-type: none;
}

.app-description li {
    margin-bottom: 10px;
}

.copyright{
    text-align: center;
    margin: 20px 0;
}

/* *************************************************** */

/* Media Query */

@media (max-width: 650px) {
    header{
        position: relative;
        left: 5%;
    }

    .container, .app-description, header {
        width: 90%;
    }

    select {
        width: 80%;
        height: 30px;
        font-size: 14px;
        margin: 10px 0;
    }
}

