html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    background-color: #121417;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    margin: 0;
    padding: 0;
}

.container{
    width: 400px; 
    height: 400px;
    background-color: #171e28;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}




.front-side-icon{
    
    width: 50px;
    height: 50px;
    background-color: #262f38;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.front-side-icon img{
    width: 40%;
    height: 40%;
}


.front-side-title{
    font-size: 24px;
    color: white;
    margin-bottom: 20px;

    
}

.front-side-para{
    color: #7c838d;
    font-size: 15px;
    margin-bottom: 30px;
     
}

.rating-digits{
    font-size: 24px;
    color: #757c87;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}


.rating-digits div{
    width: 50px;
    height: 50px;
    background-color: #262f38;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 16px;

}

/* .rating-digits div:hover{
    background-color: #fa7312;
    cursor: pointer;
} */


.selected:hover {
    background-color: #fa7312 !important;
    cursor: pointer;

}

button{
    border-radius: 40px;
    width: 100%;
    height: 40px;
    background-color: #fa7312;
    border: none;
    color: white;
    letter-spacing: 2px;
}

button:hover{
    background-color: #fff;
    color: #fa7312;
    cursor: pointer;

}

.front-side-button{
    padding-bottom: 30px;
}