html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    background-color: #121417;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.front-side-container{
    margin: 0;
    padding: 0;
 
}

.front-side-container{
    width: 400px; 
    height: 400px;
    background-color: #171e28;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 1;

}




.front-side-icon{
    
    width: 50px;
    height: 50px;
    background-color: #262f38;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.front-side-icon img{
    width: 40%;
    height: 40%;
}


.front-side-title{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;    
}

.front-side-para{
    color: #7c838d;
    font-size: 15px;
    margin-bottom: 30px;
     
}

.rating-digits{
    font-size: 24px;
    color: #757c87 !important;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}


.rating-digits div{
    width: 50px;
    height: 50px;
    background-color: #262f38;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 16px;

}

/* .rating-digits div:hover{
    background-color: #fa7312;
    cursor: pointer;
} */


.selected:hover {
    background-color: #fa7312 !important;
    cursor: pointer;

}

button{
    border-radius: 40px;
    width: 100%;
    height: 40px;
    background-color: #fa7312;
    border: none;
    color: white;
    letter-spacing: 2px;
}


button:hover{
    background-color: #fff;
    color: #fa7312;
    cursor: pointer;

}

.front-side-button{
    padding-bottom: 30px;
}


/* *************************************************************** */

.back-side-container{
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    /* z-index: -1; */
}

.back-side-container{
    width: 400px; 
    height: 400px;
    background-color: #171e28;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.back-side-container > *{
    margin-top: 25px;
}


.back-side-given-rating{
    width: 60%;

    margin-left: auto;
    margin-right: auto;
    background-color: #262f38;
    font-size: 15px;
    padding: 1px;
    border-radius: 12px;

}

.back-side-given-rating > p{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 2px;
    color: #fa7312;

}

.back-side-thank-you{
    
        font-size: 24px;
        font-weight: 700;
        color: white;
}


.back-side-message{
    font-size: 15px;
    color: #7c838d;
    font-size: 15px;
}



