html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    height: 100vh;
    background: linear-gradient(to bottom, #ececfc, #565194);
    height: 100vh;
}

.nav-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
    
}

.site-logo {
    width: 15rem;
}

.logo {
    width: 8rem;
    margin-left: 3.5rem;
}


.nav-links {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
}


.nav-links li {
    list-style: none;
    font-size: 2.4rem;
    color: #565194;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Header1-image {
    width: 80%
}


.title h1 {
    color: #7d70b7;
    margin-top: 10rem;
    margin-left: 17rem;
    font-size: 6.2rem;
    font-family: 'Poppins', sans-serif;


    
}

.subtitle h2 {

    color: #565194;    
    margin-left: 17rem;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;


}

/* ************************************** */
/* Section 2 */

.about-me {
    background-color: #7d70b7;
    background: #c0b2f8 ;

    padding: 3rem 17rem;
}

.about-me h2 {
    /* color: #5bc3d3; */
    color: #3c3697;

    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.profile-pic {
    display: block;
    width: 15rem;
    border-radius: 50%;
    margin: auto;
    padding-bottom: 3rem;
}

.about-me p {
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
    padding-bottom: 4rem;
}


/* *********************Section 3********************* */

.experience{
    background: #9385d4 ;
    background-color: #a699dd ;
    background: #b5a8e7 ;


    padding: 3rem 17rem;
}

.experience h2{
    margin-top: 0;
    /* color: #5bc3d3; */
    color: #3c3697;

    text-align: center;
    font-size: 3rem;
}

.experience-positions{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    
}

.experience-positions > *{
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
}


/* *********************Section 4********************* */
.my-projects{
    background-color: #9b8ed6;
    background: #c0b2f8 ;
    

    padding: 3rem 17rem;
}

.my-projects h2{
    color: #3c3697;

    text-align: center;
    font-size: 3rem; 
    padding-bottom: 3rem;  
}

.projects-pic-and-description{
    display: flex;
    justify-content: space-between;
}

.projects-pic-and-description img{
    width: 25rem;
    padding-bottom: 3rem;
}

.my-projects p{
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
    padding-bottom: 3rem;
}


/* *********************Section 5********************* */

#footer{
    background-color: #b4a3f5 ;
    padding: 3rem 17rem;
}

.my-footer > h2{
    color: #3c3697;

    text-align: center;  
    font-size: 3rem;
    padding-bottom: 0.5rem;

}

.social-links{
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 3rem;
}

.social-links > a{
    color: #3c3697;

}

.footer-links{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.footer-links > a{
    text-decoration: none;
    color: #3c3697;

}

.footer-links > a > li{
    list-style-type: none;
    font-size: 1.6rem;
}

.copyright{
    text-align: center;
    color: #3c3697;
    font-size: 1.6rem;
}


/* ******************Media Qeury********************* */



@media (max-width:768px){

    /* ********************Section 1************************ */
    html {
        font-size: 7px;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    .hero-section {
        height: 100vh;
        background: linear-gradient(to bottom, #ececfc, #565194);
        height: 100vh;
    }
    
    .nav-bar {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-top: 2rem;
        
    }
    
    .site-logo {
        width: 15rem;
    }
    
    .logo {
        width: 8rem;
        margin-left: 3.5rem;
    }
    
    
    .nav-links {
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        flex-direction: flex-end;

    }
    
    .nav-links a {
        text-decoration: none;
    }
    
    
    .nav-links li {
        list-style: none;
        font-size: 2.4rem;
        color: #565194;
    }
    
    .header {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .Header1-image {
        width: 80%;
        display: block;
        margin: auto;

    }
    
    
    .title h1 {
        color: #7d70b7;
        margin-top: 10rem;
        margin-left: 0;
        text-align: center;
        font-size: 6.2rem;
        font-family: 'Poppins', sans-serif;
    }
    
    .subtitle h2 {
        color: #565194;    
        margin-left: 0;
        text-align: center;
        font-size: 3.2rem;
        font-family: 'Poppins', sans-serif;
    }


    /* ************************************** */
/* Section 2 */

.about-me {
    background-color: #7d70b7;
    background: #c0b2f8 ;

    padding: 3rem 8rem;
}

.about-me h2 {
    /* color: #5bc3d3; */
    color: #3c3697;

    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.profile-pic {
    display: block;
    width: 15rem;
    border-radius: 50%;
    margin: auto;
    padding-bottom: 3rem;
}

.about-me p {
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
    padding-bottom: 4rem;
}

/* *********************Section 3********************* */

.experience{
    background: #9385d4 ;
    background-color: #a699dd ;
    background: #b5a8e7 ;


    padding: 3rem 8rem;
}

.experience h2{
    margin-top: 0;
    /* color: #5bc3d3; */
    color: #3c3697;

    text-align: center;
    font-size: 3rem;
}

.experience-positions{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    
}

.experience-positions > *{
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
}

/* *********************Section 4********************* */
.my-projects{
    background-color: #9b8ed6;
    background: #c0b2f8 ;
    

    padding: 3rem 8rem;
}

.my-projects h2{
    color: #3c3697;

    text-align: center;
    font-size: 3rem; 
    padding-bottom: 3rem;  
}

.projects-pic-and-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-pic-and-description img{
    width: 25rem;
    padding-bottom: 3rem;
}

.my-projects p{
    color: white;
    color: #3c3697;

    font-size: 1.8rem;
    padding-bottom: 3rem;
}

}