*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chivo Mono', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: #2a2a41;
}

.outter-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 310px;
    width: 610px;
    background: linear-gradient(to right, #1a736b, #6478c9);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: #2a2a41;

    color: white;
    height: 300px;
    width: 600px;
    font-size: 36px;

    /* border: 3px solid #5f76c7; */
    border-radius: 30px;

}

h1 {
    background: linear-gradient(to bottom, #4bb3fe, #4d5ac2);
    -webkit-background-clip: text; 
    /* For webkit-based browsers like Chrome and Safari */
    color: transparent;
    background-clip: text;
  }
  