*{

  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.title{
  display: flex;
  justify-content: center;
  margin: 30px auto;
  height: 80px;
}

.outter-container{
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-scoreborad {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  color: #333;
}

h2{
  color: #333;
}

.sign-classX{
  color: #2196f3;
}

.sign-classO{
  color: #4acf4a;
}

.pipeSymbol{
  position: relative;
  bottom: 3px;
}

.square {
  cursor: pointer;
  background: #fff;
  border: 2px solid #ccc;
  float: left;

  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.square:hover {
  background-color: #e6e6e6;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin: 30px 0px 20px 0px;
  font-size: 32px;
  color: #555;
  text-align: center;
}

.winner {
  color: #2196f3;
  font-weight: bold;
}

.winner-O{
  color: #2ecf2e;
  font-weight: bold;

}

.draw {
  color: #555;
  font-weight: bold;
}

.reset {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reset:hover {
  background-color:  #0d47a1;
}

.copyright{
  text-align: center;
  margin-top: 50px;
}

.copyright {
  margin-top: 40px;
  font-size: 16px;
  color: #333;
}


@media (max-width: 768px){

  .title{
    height: 50px;
  }

  .outter-container{
    height: auto;
  }
  .container{
    flex-direction: column;
  }

  .score-borad-1{
    order: 0;
  }

  .score-borad-2{
    order: 0;
  }

  .game{
    order: 1;
  }

  .game-info-line{
    height: 2px;
    width: 100%;
    background-color: black;
  }

}


/* **********************/


/* Start Game Screen */


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049;
}

